# Pandas Test - Real life Exercise

In [2]:
import pandas as pd

For visualizations:

In [3]:
import cufflinks as cf; cf.go_offline()
import plotly_express as px

## About the data

The data you are about to load is coming from an Ad recommentation system of the company InBrain. InBrain is a adTech company and specalize in next-level ad recommendation.  
The company has two major products - one giving high quality recommendation while the other is giving an highly yielding recommendation. Inbrain custormers are sending requests, asking for either of the products. 

Once a week, the company is doing an internal quality assements, and sends a sample of its traffic requests to external annotation process, in which the annotators are trained to manually decided whether the recommended Ad is a succes or not. The data contains information about the ad (**ad_id**), the sampled week (**week_id**), the requester company (**requester**), the region of operation (**region**), the recommendation type (Quality/Yield, **recommendation_type**) and the recommendation provider algorithm (**rec_provider**). The annotators are marking whether the recommendation is meeting the Quality/Yield standards (**is_success**) and whether or not the recommendation is severly defected (**is_sever**)

See a sample below:

In [4]:
ad_recs_annotated = pd.read_csv('data/ad_annotations.csv')
ad_recs_annotated.sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider
171966,2021-week_44,AD08FM8LV8,Extreme DA,US,yes,NaN,Yield,XGBY
145841,2021-week_43,AD00XKKZ98,RelayFoods,DE,no,True,Qality,DNNQ
54974,2021-week_36,AD08K78VCT,Extreme DA,US,yes,NaN,Yield,XGBY
125116,2021-week_41,AD0888888V,MoJoe Brewing Company,JP,yes,NaN,Yield,DNNY
351032,2022-week_06,AD0966LGMJ,Puentes Company,IN,yes,NaN,Yield,RuleBasedY

Your job, as the new and only data scientist of the company, is to get familiar with the the data, show week-over-week trends and produce insightfull graphs as a preparation to a full blown BI dashboard.

## Questions

### Data Modifications

1. Add a column with the sample year
1. Add a column with the sample quarter (google how to)
1. Add a new success column with values 1 and 0 for yes and no 
1. Are there any NaNs in the is_sever column? Count how many and create a new column with NaNs filled as False. Check that indeed the new column contaion no NaNs. 
1. Capitlize (first letter only) the is_success column (Inplace)

In [5]:
# Data Modifications
# 1
ad_recs_annotated['year'] = ad_recs_annotated.week_id.apply(lambda w: w.split('-')[0])
# 2
ad_recs_annotated['quarter'] = ad_recs_annotated.week_id.apply(lambda w: int(w.split('_')[1]) // 13 + 1)
# 3
ad_recs_annotated['is_success_int'] = ad_recs_annotated.is_success.map({'yes': 1, 'no': 0})
ad_recs_annotated.sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int
307400,2022-week_03,AD07JYTD,Puentes Company,IN,yes,NaN,Yield,UserPopY,2022,1,1
148479,2021-week_43,AD00WUZEL9,Search Million Culture,GB,yes,NaN,Qality,DNNQ,2021,4,1
339375,2022-week_05,AD0968DJDW,RelayFoods,JP,yes,NaN,Qality,DNNQ,2022,1,1
163452,2021-week_44,AD07GXR6JC,Fancy,GB,yes,NaN,Qality,DNNQ,2021,4,1
211163,2021-week_47,AD089U0O86,RelayFoods,JP,yes,NaN,Qality,DNNQ,2021,4,1

In [6]:
# 4
ad_recs_annotated.is_sever.isnull().sum()

304195

In [7]:
ad_recs_annotated[ad_recs_annotated.is_sever.notnull()].is_success.value_counts()

no     69576
yes       17
Name: is_success, dtype: int64

In [8]:
ad_recs_annotated['is_sever_fixed'] = ad_recs_annotated.is_sever.fillna(False)
ad_recs_annotated['is_sever_fixed'].isnull().sum()

0

In [9]:
ad_recs_annotated.is_sever_fixed.value_counts(dropna=False)

False    329099
True      44689
Name: is_sever_fixed, dtype: int64

In [10]:
# 5
ad_recs_annotated['is_success'] = ad_recs_annotated.is_success.apply(lambda successStatus: successStatus.capitalize())

### Subset selection

for each question, sub-select the data by using the conditional selection (`[]`) and the `.query` API. Use `.shape` on the subselection to obtain the result.  
For example:
`df.query('some_condition').shape`

1. How many requests are there in US region? 
1. How many **successful** requests are there in US region? 
1. How many **successful** requests are there in US region, on week 52?
1. How many requests where delivered by DNNQ, RNNY and UserPopQ together? 
1. How many requests where delivered by rule based providers? 
1. Select only the requests from 2021 - How many are there? 
1. Select the reqeusts from week 30 to week 40 - How many are there? 
1. Select all the data that comes from the most popular Ad
1. Select all the data that comes from the least popular provider
1. Select the data in which is_sever is None. How big is it? 
1. Select the data in which the requester is a 3 word company
1. Select the data in which the requester is a 3 word company, and the ad_id has the letter 6 in it
1. Select the data in which the requester is a 3 word company, and the multiplication of all the numbers in the ad_id is bigger than 30

In [11]:
# Subset selection
# 1
ad_recs_annotated[ad_recs_annotated['region'] == 'US'].shape[0]

103846

In [12]:
ad_recs_annotated.query('region == "US"').shape[0]

103846

In [13]:
ad_recs_annotated.head()

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed
0,2021-week_33,AD0088VOS,Search Million Culture,DE,Yes,NaN,Qality,DNNQ,2021,3,1,False
1,2021-week_33,AD07KYS8JM,MoJoe Brewing Company,DE,Yes,NaN,Yield,DNNY,2021,3,1,False
2,2021-week_33,AD08PDP6Y9,Search Million Culture,DE,Yes,NaN,Qality,DNNQ,2021,3,1,False
3,2021-week_33,AD89608808,Search Million Culture,DE,Yes,NaN,Qality,BooksQ,2021,3,1,False
4,2021-week_33,AD07CMVHP6,Search Million Culture,DE,Yes,NaN,Qality,DNNQ,2021,3,1,False

In [14]:
# 2
ad_recs_annotated[(ad_recs_annotated['region'] == 'US') &
                  (ad_recs_annotated['is_success'] == 'Yes')].shape[0]

88918

In [15]:
ad_recs_annotated.query("region == 'US' and is_success == 'Yes'").shape[0]

88918

In [16]:
# 3
ad_recs_annotated["week_number"] = ad_recs_annotated.week_id.apply(lambda week:int(week.split('_')[1]))
ad_recs_annotated[(ad_recs_annotated['region'] == 'US') &
                  (ad_recs_annotated['is_success'] == 'Yes') &
                  (ad_recs_annotated['week_number'] == 52)].shape[0]

3342

In [17]:
ad_recs_annotated.query("region == 'US' and is_success == 'Yes' and week_number == 52 ").shape[0]

3342

In [18]:
# 4
rec_providers = ['DNNQ','RNNY','UserPopQ']
ad_recs_annotated[ad_recs_annotated['rec_provider'].isin(rec_providers)].shape[0]

200093

In [19]:
ad_recs_annotated.query('rec_provider in @rec_providers').shape[0]

200093

In [20]:
# 5
rec_providers_by_rule = ['RuleBased','RuleBasedY']
ad_recs_annotated[ad_recs_annotated['rec_provider'].isin(rec_providers_by_rule)].shape[0]

28336

In [21]:
ad_recs_annotated.query('rec_provider in @rec_providers_by_rule').shape[0]

28336

In [22]:
# 6
ad_recs_annotated[ad_recs_annotated['year'] == '2021'].shape[0]

271615

In [23]:
ad_recs_annotated.query("year == '2021'").shape[0]

271615

In [24]:
ad_recs_annotated.head()

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed,week_number
0,2021-week_33,AD0088VOS,Search Million Culture,DE,Yes,NaN,Qality,DNNQ,2021,3,1,False,33
1,2021-week_33,AD07KYS8JM,MoJoe Brewing Company,DE,Yes,NaN,Yield,DNNY,2021,3,1,False,33
2,2021-week_33,AD08PDP6Y9,Search Million Culture,DE,Yes,NaN,Qality,DNNQ,2021,3,1,False,33
3,2021-week_33,AD89608808,Search Million Culture,DE,Yes,NaN,Qality,BooksQ,2021,3,1,False,33
4,2021-week_33,AD07CMVHP6,Search Million Culture,DE,Yes,NaN,Qality,DNNQ,2021,3,1,False,33

In [25]:
# 7
ad_recs_annotated[(ad_recs_annotated['week_number'] >= 30) & 
                  (ad_recs_annotated['week_number'] <= 40)].shape[0]

115051

In [26]:
ad_recs_annotated.query("week_number >= 30 and week_number <= 40").shape[0]

115051

In [27]:
# 8
most_popular_ad = ad_recs_annotated.requester.value_counts().sort_values(ascending=False).index[0]
all_data_of_most_popular_ad = ad_recs_annotated[ad_recs_annotated["requester"] == most_popular_ad]

In [28]:
all_data_of_most_popular_ad = ad_recs_annotated.query("requester == @most_popular_ad")

In [29]:
# 9
least_popular_provider = ad_recs_annotated.rec_provider.value_counts().sort_values(ascending=True).index[0]
all_data_of_least_popular_provider = ad_recs_annotated[ad_recs_annotated['rec_provider'] == least_popular_provider]

In [30]:
all_data_of_least_popular_provider = ad_recs_annotated.query("rec_provider == @least_popular_provider")

In [31]:
# 10
all_data_which_is_server_None = ad_recs_annotated[ad_recs_annotated.is_sever.isnull()]
all_data_which_is_server_None.shape[0]

304195

In [32]:
all_data_which_is_server_None = ad_recs_annotated.query("is_sever != is_sever")
all_data_which_is_server_None.shape[0]

304195

In [33]:
# 11
def is_requester_3_words(requester):
    return len(requester.split(' ') ) == 3

In [34]:
three_words_requesters = ad_recs_annotated[ad_recs_annotated.requester.apply(is_requester_3_words)]
three_words_requesters.sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed,week_number
248749,2021-week_50,AD07Y9ZR8Z,Search Million Culture,GB,Yes,NaN,Qality,XGBQ,2021,4,1,False,50
362569,2022-week_52,AD08NT8GJ8,MoJoe Brewing Company,GB,Yes,NaN,Yield,XGBY,2022,5,1,False,52
305015,2022-week_03,AD0988C6TS,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2022,1,1,False,3
247465,2021-week_50,AD08HHK9JG,MoJoe Brewing Company,GB,Yes,NaN,Yield,DNNY,2021,4,1,False,50
348052,2022-week_06,AD08QD68LR,Search Million Culture,GB,Yes,NaN,Qality,XGBQ,2022,1,1,False,6

In [35]:
three_words_requesters = ad_recs_annotated.requester.apply(is_requester_3_words)
ad_recs_annotated.query('@three_words_requesters == True').sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed,week_number
77013,2021-week_38,AD00878N8F,Search Million Culture,GB,No,False,Qality,DNNQ,2021,3,0,False,38
33103,2021-week_35,AD07V7G996,Search Million Culture,GB,Yes,NaN,Qality,RNNQ,2021,3,1,False,35
59447,2021-week_37,AD08ID0W88,Search Million Culture,DE,Yes,NaN,Qality,DNNQ,2021,3,1,False,37
80954,2021-week_38,AD08C7ZY8X,MoJoe Brewing Company,JP,Yes,NaN,Yield,DNNY,2021,3,1,False,38
7917,2021-week_33,AD08ZKHZQT,Search Million Culture,IN,Yes,NaN,Qality,UserPopQ,2021,3,1,False,33

In [36]:
def is_ad_id_contain_six(ad_id):
    return '6' in ad_id

In [37]:
# 12
three_words_requesters_and_six_letter = ad_recs_annotated[
                            (ad_recs_annotated.requester.apply(is_requester_3_words)) &
                            (ad_recs_annotated.ad_id.apply(is_ad_id_contain_six))]
three_words_requesters_and_six_letter.sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed,week_number
275373,2022-week_01,AD0888TW6C,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2022,1,1,False,1
10222,2021-week_33,AD08T68CHK,MoJoe Brewing Company,JP,Yes,NaN,Yield,DNNY,2021,3,1,False,33
191983,2021-week_46,AD06XKK8RD,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2021,4,1,False,46
108045,2021-week_40,AD08Z8968K,Search Million Culture,IN,Yes,NaN,Qality,UserPopQ,2021,4,1,False,40
37932,2021-week_35,AD00N8E68O,MoJoe Brewing Company,JP,Yes,NaN,Yield,DNNY,2021,3,1,False,35

In [38]:
three_words_requesters_and_six_letter =  ad_recs_annotated.requester.apply(is_requester_3_words) & ad_recs_annotated.ad_id.apply(is_ad_id_contain_six)
ad_recs_annotated.query('@three_words_requesters_and_six_letter == True').sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed,week_number
209026,2021-week_47,AD07S69W7M,MoJoe Brewing Company,IN,Yes,NaN,Yield,UserPopY,2021,4,1,False,47
90599,2021-week_39,AD006GNSD9,MoJoe Brewing Company,GB,Yes,NaN,Yield,DNNY,2021,4,1,False,39
235113,2021-week_49,AD0888L886,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2021,4,1,False,49
110442,2021-week_40,AD0798DD6R,Search Million Culture,JP,Yes,NaN,Qality,DNNQ,2021,4,1,False,40
349023,2022-week_06,AD096VHNFV,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2022,1,1,False,6

In [39]:
# 13
import re  # regex library for extart numbers from ad_id
from functools import reduce

def is_ad_id_numbers_multiplication_bigger_than_30(ad_id):
    nums_as_string = re.findall(r'\d+', ad_id)
    return reduce(lambda num1,num2:num1*num2,list(map(lambda num_in_ad_id:int(num_in_ad_id),nums_as_string))) > 30

In [40]:
three_words_requesters_and_ad_id_bigger_than_30 = ad_recs_annotated[
                            (ad_recs_annotated.requester.apply(is_requester_3_words)) &
                            (ad_recs_annotated.ad_id.apply(is_ad_id_numbers_multiplication_bigger_than_30))]
three_words_requesters_and_ad_id_bigger_than_30.sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed,week_number
289730,2022-week_02,AD086LKXYM,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2022,1,1,False,2
53958,2021-week_36,AD088RCL8W,MoJoe Brewing Company,US,Yes,NaN,Yield,DNNY,2021,3,1,False,36
96170,2021-week_39,AD08XJJH8F,Search Million Culture,JP,Yes,NaN,Yield,RuleBasedY,2021,4,1,False,39
219049,2021-week_48,AD07NW8KDF,Search Million Culture,GB,Yes,NaN,Qality,UserPopQ,2021,4,1,False,48
96204,2021-week_39,AD078C8G8S,Search Million Culture,JP,Yes,NaN,Qality,DNNQ,2021,4,1,False,39

In [41]:
three_words_requesters_and_ad_id_bigger_than_30 = (ad_recs_annotated.requester.apply(is_requester_3_words)) &(ad_recs_annotated.ad_id.apply(is_ad_id_numbers_multiplication_bigger_than_30))
ad_recs_annotated.query('@three_words_requesters_and_ad_id_bigger_than_30 == True').sample(5)

,week_id,ad_id,requester,region,is_success,is_sever,recommendation_type,rec_provider,year,quarter,is_success_int,is_sever_fixed,week_number
71274,2021-week_37,AD08MR8CKN,Search Million Culture,US,No,True,Qality,DNNQ,2021,3,0,True,37
60841,2021-week_37,AD00877VYI,Search Million Culture,GB,Yes,NaN,Qality,XGBQ,2021,3,1,False,37
32407,2021-week_35,AD098Q7PPH,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2021,3,1,False,35
30431,2021-week_35,AD0778L78W,Search Million Culture,DE,No,True,Qality,DNNQ,2021,3,0,True,35
303319,2022-week_03,AD099WRN88,Search Million Culture,GB,Yes,NaN,Qality,DNNQ,2022,1,1,False,3

### Analysis

1. How many weeks available in the data? Are there any missing weeks? 
1. How many regions available in the data? Are there any missing weeks per region? 
1. How many ads are being sent to annotation in each region per week?
1. How many None values are there in is_sever column? 
1. Are ads being sent more than one time in a given week? what is the ad_id that was sent the most in a given week? (e.g. ad X where sent 50 times in week Y)
1. Are there ads that are being sent in more than one week?
   1. Which is the ad that was sent in most amount of weeks (e.g. ad X where sent in Y different weeks)
   2. What are the weeks that the ad from above was sent in? 
   3. Is there an Ad that was succsefull in one week, but not succesfful in a different week? Show one.
1. When is_sever is None, what is the number of successful requests? What is the number of non-successful requests? What do you learn from it about the reason for Nones in the first place? 
1. Per each region, What is the Quality/Yield traffic proportion WoW? 
1. How many different reqeusters are there? 
1. Which are the top 5 requesters per region? 
1. Which are the different rec_proivders?
1. Are there different rec providers per region? 
1. Are there different rec providers per rec type?
1. What are the notation rules distinguishing between quality vs yielding providers?
1. Which is the most successful region of operation? 
1. Which is the most successful rec provider per each region? 
1. Present a table with a success rate, sever defects rate and CI (for each metric) per region
1. Present a table with a success rate, sever defects rate and CI (for each metric) per rec provider
1. Present a table with a success rate, sever defects rate and CI (for each metric) per region and rec provider combinations
1. Present a table with a success rate, sever defects rate and CI (for each metric) per rec type (Q/Y)
1. Present a table with a success rate, sever defects rate and CI (for each metric) per rec type and region
1. Present WoW table/graph with success rate and CI (see image below) per region
1. Present WoW table/graph with success rate and CI (see image below) per region and rec type
1. Present WoW table/graph with success rate and CI (see image below) per region and rec provider
1. Which are the requester to which we succeed the most?
1. Which are the requester to which we produce the most critical defects?
1. What is the overall success rate trend over time? 
1. What is the overall sever defect rate trend over time? 
1. Preset a WoW graph showing the number of requests per customer in each region (hint: [use stacked bars](https://plotly.com/python/bar-charts/)), from it:
  1. Identify major traffic shape changes (addition/removal) of major clients
1. Preset a WoW graph showing the **requests proportion** per customer in each region (hint: [use stacked bars](https://plotly.com/python/bar-charts/)), from it:
  1. Identify major traffic shape changes (addition/removal) of major clients

Analysis Bonus questions:
1. Compute the per region success rate and CI in trailing weeks, Say, 4 weeks instead of 1 week - to allow for smoother estimations and smaller CIs

In [42]:
# Analysis
# 1
ad_recs_annotated.week_id.value_counts().sort_index()

2021-week_33    14356
2021-week_34    14371
2021-week_35    14373
2021-week_36    14390
2021-week_37    14392
2021-week_38    14347
2021-week_39    14416
2021-week_40    14406
2021-week_41    14380
2021-week_42    14376
2021-week_43    14367
2021-week_44    14299
2021-week_45    14440
2021-week_46    14350
2021-week_47    14402
2021-week_48    14404
2021-week_49    14337
2021-week_50    14404
2021-week_51    12805
2022-week_01    14385
2022-week_02    14423
2022-week_03    14317
2022-week_04    14367
2022-week_05    14362
2022-week_06    14389
2022-week_52    15930
Name: week_id, dtype: int64

In [43]:
# 2 
ad_recs_annotated.groupby('region').week_number.unique()

region
DE    [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 4...
GB    [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 4...
IN    [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 4...
JP    [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 4...
US    [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 4...
Name: week_number, dtype: object

In [44]:
def find_missing_week_id(week_ids):
    missing_weeks = []
    for i in range (33, 53):
        if i not in week_ids:
            missing_weeks.append(i)
    return missing_weeks

In [45]:
ad_recs_annotated.groupby('region').week_number.unique().apply(find_missing_week_id)

region
DE      []
GB      []
IN      []
JP    [51]
US      []
Name: week_number, dtype: object

In [46]:
# 3
ad_recs_annotated.groupby(['week_id', 'region']).is_success_int.sum().unstack('region')

region            DE      GB      IN      JP      US
week_id
2021-week_33  1930.0  2702.0  2341.0  1113.0  3528.0
2021-week_34  1883.0  2681.0  2424.0  1117.0  3511.0
2021-week_35  1931.0  2744.0  2426.0  1127.0  3501.0
2021-week_36  1909.0  2689.0  2458.0  1122.0  3537.0
2021-week_37  1938.0  2711.0  2438.0  1154.0  3463.0
2021-week_38  1934.0  2671.0  2450.0  1096.0  3402.0
2021-week_39  1994.0  2571.0  2456.0  1133.0  3483.0
2021-week_40  1917.0  2602.0  2452.0  1154.0  3492.0
2021-week_41  1954.0  2661.0  2456.0  1196.0  3471.0
2021-week_42  1922.0  2627.0  2442.0  1242.0  3446.0
2021-week_43  1850.0  2631.0  2371.0  1255.0  3446.0
2021-week_44  1781.0  2658.0  2460.0  1254.0  3377.0
2021-week_45  1942.0  2744.0  2528.0  1273.0  3515.0
2021-week_46  1919.0  2765.0  2505.0  1223.0  3511.0
2021-week_47  1977.0  2814.0  2480.0  1268.0  3385.0
2021-week_48  1988.0  2719.0  2436.0  1229.0  3399.0
2021-week_49  1966.0  2682.0  2462.0  1246.0  3417.0
2021-week_50  1994.0  2686.0  2447.0  1293.0  3383.0
2021-week_51  1941.0  2640.0  2394.0     NaN  3289.0
2022-week_01  1972.0  2668.0  2379.0  1298.0  3330.0
2022-week_02  2014.0  2650.0  2404.0  1296.0  3360.0
2022-week_03  1979.0  2608.0  2450.0  1280.0  3313.0
2022-week_04  2017.0  2620.0  2468.0  1270.0  3321.0
2022-week_05  2015.0  2605.0  2411.0  1320.0  3342.0
2022-week_06  2020.0  2714.0  2389.0  1281.0  3354.0
2022-week_52  1937.0  2646.0  2428.0  2560.0  3342.0

In [47]:
# 4
ad_recs_annotated.is_sever.value_counts(dropna=False)[0]

304195

In [80]:
# 5
given_week = '2021-week_33'
data_of_given_week = ad_recs_annotated.query("@given_week == week_id")
ad_sent_in_give_week = data_of_given_week.groupby(['ad_id']).is_success_int.sum()
# ad_id = ad_recs_annotated.query("@most_ad_sent_in_give_week == week_id").ad_id.value_counts(ascending=False)
# ad_id
# most_ad_sent_in_give_week
for adIndex in range(0,len(ad_sent_in_give_week)):
    if(ad_sent_in_give_week[adIndex] > 1):
        print(f'ad_id {ad_sent_in_give_week.index[adIndex]} sent {ad_sent_in_give_week[adIndex]} times in {given_week} week')

ad_id AD0008VKDD sent 2 times in 2021-week_33 week
ad_id AD0009X89W sent 2 times in 2021-week_33 week
ad_id AD000APK8G sent 3 times in 2021-week_33 week
ad_id AD000ELSM8 sent 2 times in 2021-week_33 week
ad_id AD000FPK09 sent 2 times in 2021-week_33 week
ad_id AD000IU80H sent 2 times in 2021-week_33 week
ad_id AD000KU988 sent 2 times in 2021-week_33 week
ad_id AD000UCH08 sent 3 times in 2021-week_33 week
ad_id AD000VOCQP sent 2 times in 2021-week_33 week
ad_id AD00688888 sent 4 times in 2021-week_33 week
ad_id AD0068KNMU sent 2 times in 2021-week_33 week
ad_id AD006CSPZK sent 2 times in 2021-week_33 week
ad_id AD006M7NSS sent 2 times in 2021-week_33 week
ad_id AD006VAZYN sent 2 times in 2021-week_33 week
ad_id AD0078F8D7 sent 2 times in 2021-week_33 week
ad_id AD007CRC8P sent 2 times in 2021-week_33 week
ad_id AD007FD68Y sent 2 times in 2021-week_33 week
ad_id AD007TGDXM sent 2 times in 2021-week_33 week
ad_id AD00808FIC sent 2 times in 2021-week_33 week
ad_id AD0080D8Q8 sent 2 times in 2021-week_33 week
ad_id AD0080UD67 sent 2 times in 2021-week_33 week
ad_id AD0087IOZ7 sent 2 times in 2021-week_33 week
ad_id AD00888FGU sent 2 times in 2021-week_33 week
ad_id AD00888V86 sent 2 times in 2021-week_33 week
ad_id AD0088978F sent 2 times in 2021-week_33 week
ad_id AD00889VO6 sent 2 times in 2021-week_33 week
ad_id AD0088M8YU sent 3 times in 2021-week_33 week
ad_id AD0088OUOQ sent 2 times in 2021-week_33 week
ad_id AD0088XAPF sent 2 times in 2021-week_33 week
ad_id AD0088ZCSF sent 2 times in 2021-week_33 week
ad_id AD0089ZFYJ sent 2 times in 2021-week_33 week
ad_id AD008D8ZT0 sent 2 times in 2021-week_33 week
ad_id AD008DEC8L sent 2 times in 2021-week_33 week
ad_id AD008DXNS8 sent 3 times in 2021-week_33 week
ad_id AD008EHIY8 sent 2 times in 2021-week_33 week
ad_id AD008FC90P sent 2 times in 2021-week_33 week
ad_id AD008FULQ8 sent 2 times in 2021-week_33 week
ad_id AD008FYNT8 sent 2 times in 2021-week_33 week
ad_id AD008I8OWD sent 3 times in 2021-week_33 week
ad_id AD008JAT88 sent 2 times in 2021-week_33 week
ad_id AD008JJXTS sent 2 times in 2021-week_33 week
ad_id AD008KG7ED sent 2 times in 2021-week_33 week
ad_id AD008KLWR8 sent 2 times in 2021-week_33 week
ad_id AD008MZV8O sent 3 times in 2021-week_33 week
ad_id AD008MZWR7 sent 2 times in 2021-week_33 week
ad_id AD008OCO80 sent 3 times in 2021-week_33 week
ad_id AD008PM8DT sent 2 times in 2021-week_33 week
ad_id AD008R0RNT sent 2 times in 2021-week_33 week
ad_id AD008SSY80 sent 3 times in 2021-week_33 week
ad_id AD008W8RRG sent 3 times in 2021-week_33 week
ad_id AD008XLV8S sent 2 times in 2021-week_33 week
ad_id AD008XT88J sent 2 times in 2021-week_33 week
ad_id AD008YETL8 sent 2 times in 2021-week_33 week
ad_id AD008YK8KS sent 2 times in 2021-week_33 week
ad_id AD00900EEZ sent 2 times in 2021-week_33 week
ad_id AD009GDYAK sent 2 times in 2021-week_33 week
ad_id AD009R87JV sent 2 times in 2021-week_33 week
ad_id AD00ARMY6H sent 2 times in 2021-week_33 week
ad_id AD00CA0XDE sent 2 times in 2021-week_33 week
ad_id AD00CDHA6H sent 2 times in 2021-week_33 week
ad_id AD00CTJ8E8 sent 2 times in 2021-week_33 week
ad_id AD00CVTRO8 sent 2 times in 2021-week_33 week
ad_id AD00CZ8KYR sent 2 times in 2021-week_33 week
ad_id AD00DGL8GC sent 2 times in 2021-week_33 week
ad_id AD00DJUK8H sent 2 times in 2021-week_33 week
ad_id AD00DQG9OZ sent 2 times in 2021-week_33 week
ad_id AD00E88F80 sent 2 times in 2021-week_33 week
ad_id AD00EEEGEG sent 2 times in 2021-week_33 week
ad_id AD00FALVU9 sent 2 times in 2021-week_33 week
ad_id AD00FKWPFC sent 2 times in 2021-week_33 week
ad_id AD00GKWQDH sent 2 times in 2021-week_33 week
ad_id AD00GVDTQQ sent 2 times in 2021-week_33 week
ad_id AD00HFC8E8 sent 2 times in 2021-week_33 week
ad_id AD00HJQVXM sent 2 times in 2021-week_33 week
ad_id AD00I8S8M8 sent 2 times in 2021-week_33 week
ad_id AD00IOVOCF sent 2 times in 2021-week_33 week
ad_id AD00J078W7 sent 4 times in 2021-week_33 week
ad_id AD00JUJ8E0 sent 2 times in 2021-week_33 week
ad_id AD00K08QQQ sent 2 times in 2021-week_33 week
ad_id AD00K6JUG8 sent 3 times in 2021-week_33 week
ad_id AD00LJO8EQ sent 2 times in 2021-week_33 week
ad_id AD00LWFFA8 sent 2 times in 2021-week_33 week
ad_id AD00MEDOY8 sent 2 times in 2021-week_33 week
ad_id AD00NATC8M sent 2 times in 2021-week_33 week
ad_id AD00OGKF9V sent 2 times in 2021-week_33 week
ad_id AD00PLTLG8 sent 2 times in 2021-week_33 week
ad_id AD00PUY8W0 sent 2 times in 2021-week_33 week
ad_id AD00PZZFG0 sent 2 times in 2021-week_33 week
ad_id AD00RNMTZA sent 2 times in 2021-week_33 week
ad_id AD00RQPUV0 sent 2 times in 2021-week_33 week
ad_id AD00RXG8UK sent 2 times in 2021-week_33 week
ad_id AD00SP88NI sent 2 times in 2021-week_33 week
ad_id AD00TGC86C sent 2 times in 2021-week_33 week
ad_id AD00U8VQZD sent 2 times in 2021-week_33 week
ad_id AD00UHEKV8 sent 2 times in 2021-week_33 week
ad_id AD00VYAWIR sent 2 times in 2021-week_33 week
ad_id AD00WJPNVU sent 2 times in 2021-week_33 week
ad_id AD00WMEPSF sent 2 times in 2021-week_33 week
ad_id AD00XM8KSV sent 2 times in 2021-week_33 week
ad_id AD00XQ8XGA sent 3 times in 2021-week_33 week
ad_id AD00YUNKKP sent 2 times in 2021-week_33 week
ad_id AD06VX8YR6 sent 3 times in 2021-week_33 week
ad_id AD06XWWK8S sent 2 times in 2021-week_33 week
ad_id AD06Y689WC sent 2 times in 2021-week_33 week
ad_id AD0768N9N6 sent 3 times in 2021-week_33 week
ad_id AD076H8J9T sent 2 times in 2021-week_33 week
ad_id AD076LY7RN sent 2 times in 2021-week_33 week
ad_id AD077FH786 sent 2 times in 2021-week_33 week
ad_id AD077GTHKK sent 2 times in 2021-week_33 week
ad_id AD077NXV8R sent 3 times in 2021-week_33 week
ad_id AD07880888 sent 5 times in 2021-week_33 week
ad_id AD07880889 sent 2 times in 2021-week_33 week
ad_id AD0788788S sent 2 times in 2021-week_33 week
ad_id AD07888JYJ sent 2 times in 2021-week_33 week
ad_id AD07888L86 sent 2 times in 2021-week_33 week
ad_id AD07889HGV sent 2 times in 2021-week_33 week
ad_id AD0788F88X sent 2 times in 2021-week_33 week
ad_id AD0788LL8T sent 2 times in 2021-week_33 week
ad_id AD0788W88L sent 2 times in 2021-week_33 week
ad_id AD078CR89Q sent 3 times in 2021-week_33 week
ad_id AD078FVQNW sent 2 times in 2021-week_33 week
ad_id AD078GZ8DX sent 2 times in 2021-week_33 week
ad_id AD078JM699 sent 2 times in 2021-week_33 week
ad_id AD078JTG7Y sent 3 times in 2021-week_33 week
ad_id AD078M8NC8 sent 2 times in 2021-week_33 week
ad_id AD078NCPSH sent 2 times in 2021-week_33 week
ad_id AD078PRNKW sent 2 times in 2021-week_33 week
ad_id AD078THM8T sent 3 times in 2021-week_33 week
ad_id AD078V8VRR sent 2 times in 2021-week_33 week
ad_id AD078VQKV8 sent 2 times in 2021-week_33 week
ad_id AD078XW8FS sent 2 times in 2021-week_33 week
ad_id AD079QHML8 sent 2 times in 2021-week_33 week
ad_id AD079QRQTC sent 5 times in 2021-week_33 week
ad_id AD079V8CKD sent 2 times in 2021-week_33 week
ad_id AD079VP6DH sent 5 times in 2021-week_33 week
ad_id AD07CCG7M sent 2 times in 2021-week_33 week
ad_id AD07CDDXZJ sent 2 times in 2021-week_33 week
ad_id AD07CGXZMT sent 2 times in 2021-week_33 week
ad_id AD07CJ999K sent 2 times in 2021-week_33 week
ad_id AD07CN8WJF sent 2 times in 2021-week_33 week
ad_id AD07DHK8DH sent 2 times in 2021-week_33 week
ad_id AD07DQ8GWD sent 3 times in 2021-week_33 week
ad_id AD07F86MDK sent 2 times in 2021-week_33 week
ad_id AD07F887TX sent 3 times in 2021-week_33 week
ad_id AD07FCJWVC sent 2 times in 2021-week_33 week
ad_id AD07FF886N sent 2 times in 2021-week_33 week
ad_id AD07FGSF88 sent 4 times in 2021-week_33 week
ad_id AD07FL8DYD sent 2 times in 2021-week_33 week
ad_id AD07FM7ZD8 sent 3 times in 2021-week_33 week
ad_id AD07FP88MC sent 2 times in 2021-week_33 week
ad_id AD07FPV786 sent 2 times in 2021-week_33 week
ad_id AD07G9GDQJ sent 3 times in 2021-week_33 week
ad_id AD07GL8976 sent 2 times in 2021-week_33 week
ad_id AD07GR9WFY sent 2 times in 2021-week_33 week
ad_id AD07GWW88H sent 2 times in 2021-week_33 week
ad_id AD07H8NLW8 sent 2 times in 2021-week_33 week
ad_id AD07H8V8YL sent 2 times in 2021-week_33 week
ad_id AD07HGGYWL sent 3 times in 2021-week_33 week
ad_id AD07HGN687 sent 2 times in 2021-week_33 week
ad_id AD07HJD8KH sent 5 times in 2021-week_33 week
ad_id AD07HZJ68W sent 2 times in 2021-week_33 week
ad_id AD07HZRTTG sent 2 times in 2021-week_33 week
ad_id AD07JRSPZ8 sent 2 times in 2021-week_33 week
ad_id AD07K8WHH8 sent 3 times in 2021-week_33 week
ad_id AD07KTJVZF sent 2 times in 2021-week_33 week
ad_id AD07KZRHJY sent 2 times in 2021-week_33 week
ad_id AD07LC88PN sent 2 times in 2021-week_33 week
ad_id AD07M8P8F7 sent 2 times in 2021-week_33 week
ad_id AD07MHJFRJ sent 2 times in 2021-week_33 week
ad_id AD07MJL8TP sent 3 times in 2021-week_33 week
ad_id AD07ND8WR6 sent 2 times in 2021-week_33 week
ad_id AD07ND8X8M sent 2 times in 2021-week_33 week
ad_id AD07NW8CH8 sent 2 times in 2021-week_33 week
ad_id AD07NZYHYQ sent 2 times in 2021-week_33 week
ad_id AD07P6Q8G9 sent 2 times in 2021-week_33 week
ad_id AD07P7KJ8Q sent 2 times in 2021-week_33 week
ad_id AD07PD8DW8 sent 2 times in 2021-week_33 week
ad_id AD07PFFMP9 sent 2 times in 2021-week_33 week
ad_id AD07PGL8ZS sent 2 times in 2021-week_33 week
ad_id AD07PHPXHQ sent 6 times in 2021-week_33 week
ad_id AD07PJV8JP sent 2 times in 2021-week_33 week
ad_id AD07Q6YSGF sent 4 times in 2021-week_33 week
ad_id AD07R8X8L6 sent 2 times in 2021-week_33 week
ad_id AD07RCHJX8 sent 2 times in 2021-week_33 week
ad_id AD07RJ7KT7 sent 2 times in 2021-week_33 week
ad_id AD07RWWZT8 sent 2 times in 2021-week_33 week
ad_id AD07S8FY8J sent 3 times in 2021-week_33 week
ad_id AD07S9S86F sent 3 times in 2021-week_33 week
ad_id AD07SHC76C sent 3 times in 2021-week_33 week
ad_id AD07SJR6HL sent 2 times in 2021-week_33 week
ad_id AD07SMN7FY sent 2 times in 2021-week_33 week
ad_id AD07SNPKX8 sent 2 times in 2021-week_33 week
ad_id AD07TCNG8Y sent 2 times in 2021-week_33 week
ad_id AD07THHQMH sent 2 times in 2021-week_33 week
ad_id AD07TN8C8H sent 2 times in 2021-week_33 week
ad_id AD07TTH8TM sent 4 times in 2021-week_33 week
ad_id AD07V89T8F sent 2 times in 2021-week_33 week
ad_id AD07V8PZFX sent 2 times in 2021-week_33 week
ad_id AD07VFPPS8 sent 3 times in 2021-week_33 week
ad_id AD07VHZ88L sent 2 times in 2021-week_33 week
ad_id AD07VKM8HR sent 2 times in 2021-week_33 week
ad_id AD07VM8XD7 sent 2 times in 2021-week_33 week
ad_id AD07W88JY8 sent 2 times in 2021-week_33 week
ad_id AD07WLL998 sent 2 times in 2021-week_33 week
ad_id AD07X68LCX sent 2 times in 2021-week_33 week
ad_id AD07XJ8C8F sent 3 times in 2021-week_33 week
ad_id AD07XKF8RM sent 2 times in 2021-week_33 week
ad_id AD07XY888G sent 2 times in 2021-week_33 week
ad_id AD07XZ8KN8 sent 3 times in 2021-week_33 week
ad_id AD07YNV88F sent 2 times in 2021-week_33 week
ad_id AD07YQ98ZH sent 2 times in 2021-week_33 week
ad_id AD07YSH7Y8 sent 2 times in 2021-week_33 week
ad_id AD07YSHHNR sent 2 times in 2021-week_33 week
ad_id AD07YX8N8Y sent 2 times in 2021-week_33 week
ad_id AD07YYQD8 sent 3 times in 2021-week_33 week
ad_id AD07Z8SHF9 sent 3 times in 2021-week_33 week
ad_id AD07Z8TL8 sent 2 times in 2021-week_33 week
ad_id AD07Z988YW sent 2 times in 2021-week_33 week
ad_id AD07ZPML7N sent 2 times in 2021-week_33 week
ad_id AD07ZVPLD8 sent 2 times in 2021-week_33 week
ad_id AD07ZZW86G sent 2 times in 2021-week_33 week
ad_id AD080FJE9I sent 2 times in 2021-week_33 week
ad_id AD080T8R8P sent 2 times in 2021-week_33 week
ad_id AD08696W88 sent 2 times in 2021-week_33 week
ad_id AD08697N88 sent 3 times in 2021-week_33 week
ad_id AD086DEGFW sent 4 times in 2021-week_33 week
ad_id AD086OVGU8 sent 3 times in 2021-week_33 week
ad_id AD086V0YF8 sent 2 times in 2021-week_33 week
ad_id AD086WM8R8 sent 3 times in 2021-week_33 week
ad_id AD0876L88 sent 2 times in 2021-week_33 week
ad_id AD087GKQHG sent 2 times in 2021-week_33 week
ad_id AD087J8WAN sent 3 times in 2021-week_33 week
ad_id AD087RL88N sent 2 times in 2021-week_33 week
ad_id AD087XPD78 sent 2 times in 2021-week_33 week
ad_id AD08887998 sent 2 times in 2021-week_33 week
ad_id AD08888868 sent 2 times in 2021-week_33 week
ad_id AD08888886 sent 2 times in 2021-week_33 week
ad_id AD08888WV8 sent 2 times in 2021-week_33 week
ad_id AD0888CG8Y sent 2 times in 2021-week_33 week
ad_id AD0888K8YS sent 3 times in 2021-week_33 week
ad_id AD0888PCM sent 2 times in 2021-week_33 week
ad_id AD0888YXYS sent 2 times in 2021-week_33 week
ad_id AD088CFJFO sent 2 times in 2021-week_33 week
ad_id AD088DMQC8 sent 2 times in 2021-week_33 week
ad_id AD088DVNDY sent 2 times in 2021-week_33 week
ad_id AD088DWG8V sent 2 times in 2021-week_33 week
ad_id AD088DWH88 sent 2 times in 2021-week_33 week
ad_id AD088FT8H8 sent 2 times in 2021-week_33 week
ad_id AD088GKNQ8 sent 4 times in 2021-week_33 week
ad_id AD088J8KZ8 sent 3 times in 2021-week_33 week
ad_id AD088J8MZK sent 2 times in 2021-week_33 week
ad_id AD088J8QWF sent 2 times in 2021-week_33 week
ad_id AD088M6F8S sent 2 times in 2021-week_33 week
ad_id AD088M8C6C sent 2 times in 2021-week_33 week
ad_id AD088M8R88 sent 2 times in 2021-week_33 week
ad_id AD088MQS06 sent 2 times in 2021-week_33 week
ad_id AD088QSV86 sent 2 times in 2021-week_33 week
ad_id AD088QVQ8Y sent 2 times in 2021-week_33 week
ad_id AD088S9N6J sent 2 times in 2021-week_33 week
ad_id AD088TVYT8 sent 2 times in 2021-week_33 week
ad_id AD088VLVST sent 3 times in 2021-week_33 week
ad_id AD088VNT8R sent 2 times in 2021-week_33 week
ad_id AD088Y6TJC sent 2 times in 2021-week_33 week
ad_id AD088ZQFDO sent 3 times in 2021-week_33 week
ad_id AD089688Q8 sent 2 times in 2021-week_33 week
ad_id AD089DGQKO sent 2 times in 2021-week_33 week
ad_id AD089MS7D8 sent 2 times in 2021-week_33 week
ad_id AD089MT86T sent 2 times in 2021-week_33 week
ad_id AD089MTVYZ sent 2 times in 2021-week_33 week
ad_id AD08C7V986 sent 2 times in 2021-week_33 week
ad_id AD08C8RR8J sent 2 times in 2021-week_33 week
ad_id AD08C99QF8 sent 2 times in 2021-week_33 week
ad_id AD08CHUSC8 sent 2 times in 2021-week_33 week
ad_id AD08CS88NP sent 2 times in 2021-week_33 week
ad_id AD08CSHPD8 sent 2 times in 2021-week_33 week
ad_id AD08CT8YXQ sent 2 times in 2021-week_33 week
ad_id AD08CYPV8Y sent 2 times in 2021-week_33 week
ad_id AD08DK8CNF sent 2 times in 2021-week_33 week
ad_id AD08DPLCM6 sent 2 times in 2021-week_33 week
ad_id AD08DRQWQ8 sent 2 times in 2021-week_33 week
ad_id AD08EA0EG8 sent 3 times in 2021-week_33 week
ad_id AD08EAG8VZ sent 2 times in 2021-week_33 week
ad_id AD08EPNPF6 sent 5 times in 2021-week_33 week
ad_id AD08EQZFN0 sent 2 times in 2021-week_33 week
ad_id AD08ET8FRF sent 2 times in 2021-week_33 week
ad_id AD08F8M98W sent 2 times in 2021-week_33 week
ad_id AD08F8Z8RK sent 2 times in 2021-week_33 week
ad_id AD08FDNWJ8 sent 2 times in 2021-week_33 week
ad_id AD08FSGVN8 sent 2 times in 2021-week_33 week
ad_id AD08FZWG8F sent 2 times in 2021-week_33 week
ad_id AD08G8G8DV sent 2 times in 2021-week_33 week
ad_id AD08GD9MNZ sent 4 times in 2021-week_33 week
ad_id AD08GXC8NT sent 2 times in 2021-week_33 week
ad_id AD08GYKNCC sent 2 times in 2021-week_33 week
ad_id AD08H6MF6Z sent 3 times in 2021-week_33 week
ad_id AD08H7N9EC sent 2 times in 2021-week_33 week
ad_id AD08H99878 sent 2 times in 2021-week_33 week
ad_id AD08HLSW8Y sent 2 times in 2021-week_33 week
ad_id AD08HV88HL sent 2 times in 2021-week_33 week
ad_id AD08IQZPLE sent 2 times in 2021-week_33 week
ad_id AD08IT9NLH sent 2 times in 2021-week_33 week
ad_id AD08J9KDS0 sent 2 times in 2021-week_33 week
ad_id AD08JDQVMK sent 2 times in 2021-week_33 week
ad_id AD08JS6YLQ sent 3 times in 2021-week_33 week
ad_id AD08JS8Y8N sent 2 times in 2021-week_33 week
ad_id AD08LAK0RY sent 2 times in 2021-week_33 week
ad_id AD08LDS8T8 sent 2 times in 2021-week_33 week
ad_id AD08LTIQAI sent 2 times in 2021-week_33 week
ad_id AD08LWYDEQ sent 2 times in 2021-week_33 week
ad_id AD08LXFJL8 sent 2 times in 2021-week_33 week
ad_id AD08M88ZK8 sent 4 times in 2021-week_33 week
ad_id AD08M8DEMW sent 2 times in 2021-week_33 week
ad_id AD08MC87J8 sent 2 times in 2021-week_33 week
ad_id AD08MQZ7J8 sent 2 times in 2021-week_33 week
ad_id AD08MSZ88D sent 2 times in 2021-week_33 week
ad_id AD08MXT8RH sent 2 times in 2021-week_33 week
ad_id AD08N6T8S8 sent 2 times in 2021-week_33 week
ad_id AD08NXFY8Q sent 2 times in 2021-week_33 week
ad_id AD08S87KTD sent 2 times in 2021-week_33 week
ad_id AD08S8FMVV sent 2 times in 2021-week_33 week
ad_id AD08T98XPF sent 2 times in 2021-week_33 week
ad_id AD08TC7MSV sent 2 times in 2021-week_33 week
ad_id AD08THP8Y8 sent 3 times in 2021-week_33 week
ad_id AD08TV9Y78 sent 3 times in 2021-week_33 week
ad_id AD08VKWCL8 sent 2 times in 2021-week_33 week
ad_id AD08VLRZD sent 7 times in 2021-week_33 week
ad_id AD08VN8H8C sent 2 times in 2021-week_33 week
ad_id AD08VYDMP8 sent 2 times in 2021-week_33 week
ad_id AD08W88RTF sent 3 times in 2021-week_33 week
ad_id AD08WYV6D9 sent 2 times in 2021-week_33 week
ad_id AD08X8LXDC sent 2 times in 2021-week_33 week
ad_id AD08Y88LPF sent 2 times in 2021-week_33 week
ad_id AD08YKUI9C sent 3 times in 2021-week_33 week
ad_id AD096VD888 sent 2 times in 2021-week_33 week
ad_id AD096VDG9Q sent 2 times in 2021-week_33 week
ad_id AD097768D8 sent 2 times in 2021-week_33 week
ad_id AD097868G9 sent 4 times in 2021-week_33 week
ad_id AD0978Q6M6 sent 2 times in 2021-week_33 week
ad_id AD097RDVDL sent 4 times in 2021-week_33 week
ad_id AD098788P8 sent 2 times in 2021-week_33 week
ad_id AD09888888 sent 2 times in 2021-week_33 week
ad_id AD098D868H sent 3 times in 2021-week_33 week
ad_id AD098FWHMP sent 2 times in 2021-week_33 week
ad_id AD098J8Z6Z sent 3 times in 2021-week_33 week
ad_id AD098LMPGC sent 2 times in 2021-week_33 week
ad_id AD098MS88P sent 2 times in 2021-week_33 week
ad_id AD098PHPQM sent 2 times in 2021-week_33 week
ad_id AD098SWYF6 sent 4 times in 2021-week_33 week
ad_id AD098TCKZL sent 2 times in 2021-week_33 week
ad_id AD098VNNTW sent 2 times in 2021-week_33 week
ad_id AD099PMJW9 sent 3 times in 2021-week_33 week
ad_id AD86886899 sent 2 times in 2021-week_33 week
ad_id AD87888888 sent 4 times in 2021-week_33 week
ad_id AD88088808 sent 2 times in 2021-week_33 week
ad_id AD88089889 sent 2 times in 2021-week_33 week
ad_id AD88788068 sent 2 times in 2021-week_33 week
ad_id AD88788888 sent 2 times in 2021-week_33 week
ad_id AD88808888 sent 3 times in 2021-week_33 week
ad_id AD88868888 sent 2 times in 2021-week_33 week
ad_id AD88886888 sent 2 times in 2021-week_33 week
ad_id AD88887806 sent 2 times in 2021-week_33 week
ad_id AD88888688 sent 2 times in 2021-week_33 week
ad_id AD88888878 sent 2 times in 2021-week_33 week
ad_id AD88888888 sent 5 times in 2021-week_33 week
ad_id AD88898878 sent 2 times in 2021-week_33 week

In [49]:
# 6 a
only_ad_that_sended = ad_recs_annotated.query("is_success_int == 1") 
mapping_ad_to_weeks = only_ad_that_sended.groupby(['ad_id']).week_id.unique()

In [50]:
ad_sent_at_diffrent_weeks = mapping_ad_to_weeks.apply(lambda weekId: len(weekId)).sort_values(ascending=False)
ad_id = ad_sent_at_diffrent_weeks.index[0]
weeks_amount = ad_sent_at_diffrent_weeks[0]
print(f'ad_id {ad_id} sent in {weeks_amount} diffrent weeks')

ad_id AD079VP6DH sent in 26 diffrent weeks

In [51]:
# b
mapping_ad_to_weeks[ad_id]

array(['2021-week_33', '2021-week_34', '2021-week_35', '2021-week_36',
       '2021-week_37', '2021-week_38', '2021-week_39', '2021-week_40',
       '2021-week_41', '2021-week_42', '2021-week_43', '2021-week_44',
       '2021-week_45', '2021-week_46', '2021-week_47', '2021-week_48',
       '2021-week_49', '2021-week_50', '2021-week_51', '2022-week_01',
       '2022-week_02', '2022-week_03', '2022-week_04', '2022-week_05',
       '2022-week_06', '2022-week_52'], dtype=object)

In [52]:
# 7
all_data_which_is_server_None = ad_recs_annotated.query("is_sever != is_sever")

In [53]:
all_data_which_is_server_None.query("is_success_int == 1").shape[0] # succefull amount

304189

In [54]:
all_data_which_is_server_None.query("is_success_int == 0").shape[0] # non succefull amount

6

In [63]:
def get_yeild_per_quality(recommendation_types):
    quilityNum = recommendation_types.value_counts()[1]
    yieldNum = recommendation_types.value_counts()[0]
    return yieldNum if quilityNum == 0 else yieldNum / quilityNum

In [64]:
# 8
ad_recs_annotated.groupby(['region','week_number']).recommendation_type.apply(get_yeild_per_quality).unstack('region')

region             DE        GB        IN         JP        US
week_number
1            5.388298  5.552361  1.388597   8.809816  2.922701
2            5.523161  5.583505  1.314801   9.024845  2.631103
3            3.784708  3.892142  1.204124   9.115385  1.953972
4            6.232416  7.331579  1.433383  11.015152  1.748454
5            4.631206  5.373494  1.391337  10.896296  1.865950
6            5.830508  9.691275  1.350774  10.288732  1.717495
33           3.917864  5.360000  1.183060   4.613240  1.948071
34           5.129870  6.498824  1.001866   2.577181  1.111755
35           3.406998  5.043315  1.119551   2.264463  1.056818
36           4.076110  6.884521  1.117996   2.338235  1.207547
37           3.722986  5.274162  1.140551   2.198444  1.377539
38           4.000000  6.245455  1.239069   3.140260  1.434411
39           3.611111  4.461670  1.085714   3.340599  1.988042
40           3.578244  3.894817  1.172226   4.040498  1.799860
41           3.788423  4.345576  1.178983   4.847584  1.567203
42           5.965116  5.665263  1.187330  20.039474  1.303797
43           4.995000  3.907975  1.088100  13.267857  1.528481
44           4.625604  5.487805  1.019096  15.130000  1.804073
45           5.598901  7.642473  1.301941  10.775362  2.256724
46           3.904167  4.329983  1.387288   8.931250  2.801142
47           5.910920  7.189744  1.125000  10.319444  3.622685
48           2.737249  3.342780  1.526527   6.177778  2.241714
49           4.610849  6.308924  1.328957   6.300926  1.051361
50           2.990050  3.833837  1.433359   7.141414  1.139946
51           5.278646  6.210884  1.226990        NaN  2.307947
52           2.373938  2.648339  1.321663   8.091429  2.077752

In [57]:
# 9
len(ad_recs_annotated.requester.unique())

36

In [58]:
# 10
ad_recs_annotated.groupby(['region']).requester.apply(lambda requester:requester[0:5])

region
DE      0        Search Million Culture
        1         MoJoe Brewing Company
        2        Search Million Culture
        3        Search Million Culture
        4        Search Million Culture
GB      2395      MoJoe Brewing Company
        2396                      Fancy
        2397      MoJoe Brewing Company
        2398                      Fancy
        2399      MoJoe Brewing Company
IN      5575            Puentes Company
        5576            Puentes Company
        5577            Puentes Company
        5578     Search Million Culture
        5579            Puentes Company
JP      8771     Search Million Culture
        8772     Search Million Culture
        8773     Search Million Culture
        8774             LocalVox Media
        8775     Search Million Culture
US      10382                Extreme DA
        10383             Tab Solutions
        10384             Tab Solutions
        10385                     Fancy
        10386                     Fancy
Name: requester, dtype: object

In [59]:
# 11
ad_recs_annotated.rec_provider.unique()

array(['DNNQ', 'DNNY', 'BooksQ', 'UserPopQ', 'UserPopY', 'RuleBasedY',
       'ManualY', 'ManualQ', 'BooksY', 'XGBQ', 'XGBY', 'RNNQ', 'RNNY',
       'RuleBased', 'UserPopSelectionQ', 'UserPopSelectionY'],
      dtype=object)

In [60]:
# 12
ad_recs_annotated.groupby(['region']).rec_provider.unique().apply(lambda rec_provider:len(rec_provider) > 1)

region
DE    True
GB    True
IN    True
JP    True
US    True
Name: rec_provider, dtype: bool

In [61]:
# 13
ad_recs_annotated.groupby(['rec_provider']).rec_provider.unique().apply(lambda rec_provider:len(rec_provider) > 1)

rec_provider
BooksQ               False
BooksY               False
DNNQ                 False
DNNY                 False
ManualQ              False
ManualY              False
RNNQ                 False
RNNY                 False
RuleBased            False
RuleBasedY           False
UserPopQ             False
UserPopSelectionQ    False
UserPopSelectionY    False
UserPopY             False
XGBQ                 False
XGBY                 False
Name: rec_provider, dtype: bool

In [62]:
# 14
ad_recs_annotated.groupby(['rec_provider','recommendation_type']).recommendation_type.count().unstack('rec_provider')
# where the name of rec_provider include 'Q' so the Yield null and if the rec_provider in include 'Y'
# so Qality in null and in the Manual both value not null

rec_provider,BooksQ,BooksY,DNNQ,DNNY,ManualQ,ManualY,RNNQ,RNNY,RuleBased,RuleBasedY,UserPopQ,UserPopSelectionQ,UserPopSelectionY,UserPopY,XGBQ,XGBY
recommendation_type,,,,,,,,,,,,,,,,
Qality,1720.0,NaN,117424.0,NaN,10220.0,1439.0,20983.0,NaN,182.0,NaN,69937.0,2417.0,NaN,NaN,12250.0,NaN
Yield,NaN,4150.0,NaN,45116.0,3624.0,543.0,NaN,12732.0,NaN,28154.0,NaN,NaN,21.0,38600.0,NaN,4276.0

In [63]:
# 15
ad_recs_annotated.groupby(['region']).is_success_int.sum().sort_values(ascending=False).index[0]

'US'

### Compactization

* Are there duplicated ads? To compac the data, remove duplicated ads and instead add an ad_count column **(pay attention, this is not trivial at all)**

### Merges and joins

The Wow samples and annotations task were sent and recieve seperatly, per each week. The dataset you were working on was constructed from those files. You can see the files under the `data/weekly` folder, here are the first 10 files:

In [64]:
import os
weekly_files = os.listdir('data/weekly/')
sorted(weekly_files)[:10]

['2021_33_DE_Qality_annotation_result.csv',
 '2021_33_DE_Yield_annotation_result.csv',
 '2021_33_DE__Sample.csv',
 '2021_33_GB_Qality_annotation_result.csv',
 '2021_33_GB_Yield_annotation_result.csv',
 '2021_33_GB__Sample.csv',
 '2021_33_IN_Qality_annotation_result.csv',
 '2021_33_IN_Yield_annotation_result.csv',
 '2021_33_IN__Sample.csv',
 '2021_33_JP_Qality_annotation_result.csv']

Your task is to reconstruct the dataset above.

### Visualizations

Produce the following success rate graph per region:

Produce the following requestser proportion graph:

## Appendix

Code to create weekly files:

In [65]:
# for l in ad_recs_annotated.region.unique():
#     for w in ad_recs_annotated.week_id.unique():
#         w_id = w.split('_')[1]
#         y = w.split('-')[0]
#         query = f'week_id == "{w}" and region == "{l}"'
#         sample_f_name = f'{y}_{w_id}_{l}__Sample.csv'
#         ad_recs_annotated.query(query)[['week_id','ad_id','requester','region','recommendation_type', 'rec_provider']].to_csv(f'data/weekly/{sample_f_name}', index=False)
#         for s in ad_recs_annotated.recommendation_type.unique():
#             ann_f_name = f'{y}_{w_id}_{l}_{s}_annotation_result.csv'
#             query = f'week_id == "{w}" and region == "{l}" and recommendation_type == "{s}"'
#             sss = ad_recs_annotated.query(query)
#             if sss.empty:
#                 continue            
#             sss[['region','ad_id','is_success','is_sever']].drop_duplicates(subset=['ad_id']).to_csv(f'data/weekly/{ann_f_name}', index=False)